---
import { Icon } from 'astro-icon'
import type { CollectionEntry } from 'astro:content'

interface Props {
  project: CollectionEntry<'projects'>
}

const { title, description, image, url } = Astro.props.project.data

const domain = url.match(/^(?:https?:\/\/)?(?:www\.)?([^\/]+)/i)![1]
---

<a
  href={url}
  class="flex relative w-full h-[300px] z-10 hover:scale-105 transition-transform duration-300"
>
  <img
    src={`/images/projects/${image}`}
    decoding="async"
    alt={`an Image of project: ${title}`}
    class="absolute inset-0 w-full h-full object-cover rounded-lg aspect-[1/1]"
  />
  <div class="relative flex flex-col gap-2 justify-end p-4 z-20">
    <div
      class="w-full h-full rounded-md absolute -z-[1] inset-0 bg-gradient-to-t from-slate-900 to-[#00000033]"
    >
    </div>
    <p class="font-bold text-xl tracking-wider">{title}</p>
    <p>
      {description}
    </p>
    <div class="flex gap-2 items-center">
      <Icon name="ph:link" width="18" height="18" />
      <span class="text-sm">{domain}</span>
    </div>
  </div>
</a>
